.vscode
/static/admin/*
db.sqlite3
baseapp/migrations/*
baseapp/__pycache__/*
analizaproveedor/migrations/*
analizaproveedor/__pycache__/*
buscapatrones/migrations/*
buscapatrones/__pycache__/*
cargainfo/migrations/*
cargainfo/__pycache__/*
iacompraspublicas/__pycache__/*

media/awards_2021.csv
media/awards_2021.csv
media/awards_2022.csv
media/awards_2023.csv
media/contracts_2021.csv
media/prueba.txt
media/SRI_RUC_Guayas.csv
media/SRI_RUC_Guayas.zip
media/SRI_RUC_Pichincha.csv
media/SRI_RUC_Pichincha.zip
varios.zip
*.csv
