{% extends 'baseapp/home.html' %}
{% load static %}
{% block dashboard %}
<form method="post" id="frmCompradore">
    {% csrf_token %}
	<h1 style="font-color=red" ><center>Información Proveedores</center></h1>
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">		      
          <div class="imprimir row">
            <div class="col-lg-2">Año a consultar</div>
            <div class="col-md-2">
                <select name="id_anios" id="id_anios" class="form-control">
                    {% for i  in anios %} 
                        <option value="{{i}}">{{i}} </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-2">
                <button type="submit" class="btn btn-info" id="btnConsultar" title="Buscar"> 
                    <i class="far fa-chart-bar"></i> 
                </button>
            </div>
        </div>
        <br/><br/>
          <h2 class="h3 mb-2 text-bg-dark ">Información del : {{ ianio }}</h2>
          <br />
        <div class="row g-12 mb-4">
            <div class="col-12 col-lg-12">
              <div class="card-body">
                     <table class="table table-responsive table-bordered" 
                               id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th class="meta">Nombre Proveedor</th>
                            <th class="meta">Estado del contrato</th>
                            <th class="meta"># Contratos</th>
                            <th class="meta">$ Contratos</th>

                          </tr>
                        </thead>
                        <tbody>
                          {% for item in results %}
                          <tr>
                           <td width="50px">{{ item.0 }}</td>
                            <td width="350px">{{ item.1 }}</td>
                            <td width="150px" align="right">{{ item.4 }}</td>
                            <td width="150px" align="right">{{ item.3  | floatformat:2  }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                    </table>
              </div>
            </div><!--//col-->

		    </div><!--//container-fluid-->
	    </div><!--//app-content-->
</form>   
{% endblock dashboard%}

{% block js_tablas %}
	<!-- Page level plugins -->
	<script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js'%}"></script>
	<script src="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

	<!-- Bootstrap core JavaScript-->
	<script src="{% static 'assets/vendor/jquery/jquery.min.js'%}"></script>
	<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

	<!-- Core plugin JavaScript-->
	<script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js'%}"></script>

	<!-- Page level custom scripts -->
	<script src="{% static 'assets/vendor/js/demo/datatables-demo.js'%}"></script>
{% endblock js_tablas %}

{% block js_page %}
<script>
  //console.log({{ results }});
  var jq = jQuery.noConflict(true);
  $(document).ready(function() {
    $('.table').DataTable();
  });
</script>

{% endblock %}

{% block js_graficos %}
<script src="{% static 'assets/js/chart.js'%}"></script>
<script src="{% static 'assets/js/chart.min.js'%}"></script>  
<script src="{% static 'assets/js/index-charts.js'%}"></script>


{% endblock js_graficos%}

