{% extends 'base/home.html' %}
{% load static %}
{% block title %}
    <title>IAHackaton</title>
{% endblock title %}
{% block descripcion_autor %}
<meta name="description" content="Aplicación para ayudar en compras públicas">
<meta name="author" content="wlopezc-mgomez">
<link rel="icon" type="image/png" size="32x32" href="{% static 'assets/images/favicon-32x32.png' %}"></link>
{% endblock descripcion_autor %}


{% block dashboard %}
{% endblock dashboard%}

{% block logo_text %}
<span class="logo-text">IAHackaton</span></a>
{% endblock logo_text %}

{% block app_menu %}
<ul class="app-menu list-unstyled accordion" id="menu-accordion">
    <li class="nav-item">
        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
        <a class="nav-link" href="{% url 'analizaproveedor:analizaproveedor' %}">
                <span class="nav-link-text">Compra - Analiza Proveedor</span>
        </a><!--//nav-link-->
    </li><!--//nav-item-->
    <li class="nav-item">
        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
        <a class="nav-link" href="{% url 'buscapatrones:buscapatrones' %}">
                <span class="nav-link-text">Compra - Identifica Patrones</span>
        </a><!--//nav-link-->
    </li><!--//nav-item-->

    <li class="nav-item">
        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
        <a class="nav-link" href= {% url 'cargainfo:cargainfo' %}>
                <span class="nav-link-text">Carga información (SRI - OCDS)</span>
        </a><!--//nav-link-->
    </li><!--//nav-item-->

{% comment %}     
    <li class="nav-item has-submenu">
        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
        <a class="nav-link  submenu-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-3"
                aria-expanded="false" aria-controls="submenu-3">
                <span class="nav-link-text">Módulo Ventas</span>
                <span class="submenu-arrow">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </span><!--//submenu-arrow-->
                </span><!--//submenu-arrow-->
        </a><!--//nav-link-->
        <div id="submenu-3" class="collapse submenu submenu-3" data-bs-parent="#menu-accordion">
            <ul class="submenu-list list-unstyled">
                <li class="submenu-item"><a class="submenu-link"  href="#" >Ventas</a></li>
            </ul>
        </div>
                <!-- <div id="submenu-3" class="collapse submenu submenu-3" data-bs-parent="#menu-accordion">
            <ul class="submenu-list list-unstyled">
                <li class="submenu-item"><a class="submenu-link"  href="#"">Carga masiva Ventas</a></li>
            </ul>
        </div> -->
    </li><!--//nav-item-->
    <li class="nav-item has-submenu">
        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
        <a class="nav-link  submenu-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-3"
                aria-expanded="false" aria-controls="submenu-3">
                <span class="nav-link-text">Módulo web</span>
                <span class="submenu-arrow">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </span><!--//submenu-arrow-->
                </span><!--//submenu-arrow-->
        </a><!--//nav-link-->
        <div id="submenu-3" class="collapse submenu submenu-3" data-bs-parent="#menu-accordion">
            <ul class="submenu-list list-unstyled">
                <li class="submenu-item"><a class="submenu-link"  href="#" >Gestión de usuarios</a></li>
            </ul>
        </div>
        <div id="submenu-3" class="collapse submenu submenu-3" data-bs-parent="#menu-accordion">
            <ul class="submenu-list list-unstyled">
                <li class="submenu-item"><a class="submenu-link"  href="#" >Parámetros</a></li>
            </ul>
        </div>
    </li><!--//nav-item-->

    <li class="nav-item has-submenu">
        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
        <a class="nav-link  submenu-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-4"
                aria-expanded="false" aria-controls="submenu-4">
                <span class="nav-link-text">Módulo de Administración</span>
                <span class="submenu-arrow">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </span><!--//submenu-arrow-->
                </span><!--//submenu-arrow-->
        </a><!--//nav-link-->
        <div id="submenu-4" class="collapse submenu submenu-4" data-bs-parent="#menu-accordion">
            <ul class="submenu-list list-unstyled">

                <li class="submenu-item"><a class="submenu-link" href="#">Información personal Empleados</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Proveedores</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Cliente</a></li>
                <li><hr class="dropdown-divider"></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Registro de Empleados</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Registro de Ventas</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Inventario General de Cultivos</a></li>
            </ul>
        </div>
    </li><!--//nav-item-->

    <li class="nav-item has-submenu">
        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
        <a class="nav-link  submenu-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-5"
                aria-expanded="false" aria-controls="submenu-5">
                <span class="nav-link-text">Módulo de Empleados</span>
                <span class="submenu-arrow">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </span><!--//submenu-arrow-->
                </span><!--//submenu-arrow-->
        </a><!--//nav-link-->
        <div id="submenu-5" class="collapse submenu submenu-5" data-bs-parent="#menu-accordion">
            <ul class="submenu-list list-unstyled">
                <li class="submenu-item"><a class="submenu-link" href="#">Registro de Actividades</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Registro de Asignacion Material</a></li>
                <li><hr class="dropdown-divider"></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Información personal Empleados</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Nueva Asignación Hacienda - Empleados</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Asignación de cultivos y actividades</a></li>
                <!--<li class="submenu-item"><a class="submenu-link" href="#">Asignación de actividades</a></li> -->
            </ul>
        </div>
    </li><!--//nav-item-->

    <li class="nav-item has-submenu">
        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
        <a class="nav-link  submenu-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-6"
                aria-expanded="false" aria-controls="submenu-6">
                <span class="nav-link-text">Módulo de Insumos</span>
                <span class="submenu-arrow">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                        fill="currentColor" xmlns="
                        http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </span><!--//submenu-arrow-->
                </span><!--//submenu-arrow-->
        </a><!--//nav-link-->
        <div id="submenu-6" class="collapse submenu submenu-6" data-bs-parent="#menu-accordion">
            <ul class="submenu-list list-unstyled">
                <li class="submenu-item"><a class="submenu-link" href="#">Insumos destinados a lotes</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Herramientas adquiridas</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Distribución</a></li>
            </ul>
        </div>
    </li><!--//nav-item-->

    <li class="nav-item has-submenu">
        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
        <a class="nav-link  submenu-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-7"
                aria-expanded="false" aria-controls="submenu-7">
                <span class="nav-link-text">Módulo de Gastos de Producción</span>
                <span class="submenu-arrow">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </span><!--//submenu-arrow-->
                </span><!--//submenu-arrow-->
        </a><!--//nav-link-->
        <div id="submenu-7" class="collapse submenu submenu-7" data-bs-parent="#menu-accordion">
            <ul class="submenu-list list-unstyled">
                <li class="submenu-item"><a class="submenu-link" href="#">Número de lote</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Estado de cultivo</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Tiempo de produccir el producto</a></li>
                <!--<li class="submenu-item"><a class="submenu-link" href="#">Necesidades de insumos agrícolas</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Fecha de cosecha</a></li> -->
            </ul>
        </div>
    </li><!--//nav-item-->

    <li class="nav-item has-submenu">
        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
        <a class="nav-link  submenu-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-8"
                aria-expanded="false" aria-controls="submenu-8">
                <span class="nav-link-text">Control y asignación de actividades</span>
                <span class="submenu-arrow">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </span><!--//submenu-arrow-->
                </span><!--//submenu-arrow-->
        </a><!--//nav-link-->
        <div id="submenu-8" class="collapse submenu submenu-8" data-bs-parent="#menu-accordion">
            <ul class="submenu-list list-unstyled">
                <li class="submenu-item"><a class="submenu-link" href="#">Trabajadores asignados a la cosecha</a</li>
                <li class="submenu-item"><a class="submenu-link" href="#">Cultivo / Cantidad cosechado</a></li>
                <!-- <li class="submenu-item"><a class="submenu-link" href="#">Cantidad Cosechada</a></li> -->
            </ul>
        </div>
    </li><!--//nav-item-->

    <li class="nav-item has-submenu">
        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
        <a class="nav-link  submenu-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-9"
                aria-expanded="false" aria-controls="submenu-9">
                <span class="nav-link-text">Reportes</span>
                <span class="submenu-arrow">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </span><!--//submenu-arrow-->
                </span><!--//submenu-arrow-->
        </a><!--//nav-link-->
        <div id="submenu-9" class="collapse submenu submenu-9" data-bs-parent="#menu-accordion">
            <ul class="submenu-list list-unstyled">

                <li class="submenu-item"><a class="submenu-link" href="#">Ventas por cultivo</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Producción por ha o lote</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Ganancias</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Productos más vendidos</a></li>
                <li><hr class="dropdown-divider"></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Informe proveedores</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Informe clientes</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Informe compras</a></li>

            </ul>
        </div>
    </li><!--//nav-item-->
    <li class="nav-item">
        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
        <a class="nav-link" href="#">
                <span class="nav-link-text">Analítica</span>
        </a><!--//nav-link-->
    </li><!--//nav-item-->
    <li class="nav-item has-submenu">
        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
        <a class="nav-link  submenu-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-9"
                aria-expanded="false" aria-controls="submenu-9">
                <span class="nav-link-text">Ciencia de Datos</span>
                <span class="submenu-arrow">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </span><!--//submenu-arrow-->
                </span><!--//submenu-arrow-->
        </a><!--//nav-link-->
        <div id="submenu-9" class="collapse submenu submenu-9" data-bs-parent="#menu-accordion">
            <ul class="submenu-list list-unstyled">

                <li class="submenu-item"><a class="submenu-link" href="#">Superficie Cosechada</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Rendimiento Unidades Producidas/HA</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Cantidades Producidas</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Costo de Producción</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Precio Venta</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Lotes Cultivados</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Cultivo más producido</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Valor Mínimo</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Valor Máximo</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Valor Promedio</a></li>
                <li class="submenu-item"><a class="submenu-link" href="#">Cultivo más Producirá</a></li>
                <li class="submenu-item"><a class="submenu-link"href="#">Fecha cosecha</a></li>
            </ul>
        </div>
    </li><!--//nav-item--> {% endcomment %}

</ul><!--//app-menu-->
{% endblock app_menu %}



{% block page_content %}
<h1><center>IAHackaton</center></h1>
{% endblock page_content %}

{% block js_graficos %}
{% endblock js_graficos%}
